In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [121]:
# Importing the dataset
dataset = pd.read_excel('dataset.xlsx')

dataset = dataset.iloc[:, 0:9]
# X = dataset.iloc[:, 1:-1].values
# y = dataset.iloc[:, 4].values

In [82]:
dataset.to_csv ("dataset.csv",  
                  index = None, 
                  header=True)

# dataset = pd.read_csv('dataset.csv')

In [83]:
dataset.head()

,Car,MPG,Cylinder,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16,8,304.0,150,3433,12.0,70,US
4,ford Torino,17,8,302.0,140,3449,10.5,70,US

In [84]:
pd.to_numeric(dataset.MPG)
pd.to_numeric(dataset.Cylinder)
pd.to_numeric(dataset.Displacement)
pd.to_numeric(dataset.Horsepower)
pd.to_numeric(dataset.Weight)
pd.to_numeric(dataset.Acceleration)
pd.to_numeric(dataset.Model)

dataset.Acceleration

0      12.0
1      11.5
2      11.0
3      12.0
4      10.5
       ...
131    11.0
132    16.5
133    17.0
134    16.0
135    17.0
Name: Acceleration, Length: 136, dtype: float64

In [76]:
# 1) Find the average and total “Acceleration” across the “Origin” column.

average_acc = dataset.groupby(["Origin"]).Acceleration.mean().reset_index()
total_acc = dataset.groupby(["Origin"]).Acceleration.sum().reset_index()

print("average “Acceleration” across the “Origin” column\n\n" ,average_acc)
print("\n\ntotal “Acceleration” across the “Origin” column\n", total_acc)

average “Acceleration” across the “Origin” column

    Origin  Acceleration
0  Europe     17.195652
1   Japan     15.785714
2      US     13.436842
3     USA     13.000000
4   japan     13.500000
5      us     16.000000
6     usa     16.000000


total “Acceleration” across the “Origin” column
    Origin  Acceleration
0  Europe         395.5
1   Japan         221.0
2      US        1276.5
3     USA          13.0
4   japan          13.5
5      us          16.0
6     usa          16.0

In [133]:
# 2) What is the correlation between “Acceleration” and “Weight”?

correlation = dataset['Acceleration'].corr(dataset['Weight'])
print("correlation between “Acceleration” and “Weight”: ", correlation)

correlation between “Acceleration” and “Weight”:  -0.6481186963223555

In [77]:
# 3) What is the most frequent and least frequent “Model” for “Origin”?

most_freq_model = dataset.groupby(["Origin"]).Model.max().reset_index()
least_freq_model = dataset.groupby(["Origin"]).Model.min().reset_index()

print("most frequent “Model” for “Origin” column\n\n" , most_freq_model)
print("\n\n least frequent “Model” for “Origin” column\n", least_freq_model)

most frequent “Model” for “Origin” column

    Origin  Model
0  Europe     73
1   Japan     73
2      US     74
3     USA     71
4   japan     73
5      us     70
6     usa     72


 least frequent “Model” for “Origin” column
    Origin  Model
0  Europe     70
1   Japan     70
2      US     70
3     USA     71
4   japan     73
5      us     70
6     usa     72

In [134]:
# 4) Create a column “isFord”, if the “Car” contains “Ford” or “ford”.
# Assign 1 if the column "isFord" contains “Ford” or “ford”, otherwise 0.

dataset['isFord'] = np.where(
                        dataset.Car.str.contains("Ford|ford"), 1, 0)

dataset.head()

,Car,MPG,Cylinder,Displacement,Horsepower,Weight,Acceleration,Model,Origin,isNumber,isFord
0,Chevrolet Chevelle Malibu,18,8,307.0,130,3504,12.0,70,US,No digits,0
1,Buick Skylark 320,15,8,350.0,165,3693,11.5,70,US,320,0
2,Plymouth Satellite,18,8,318.0,150,3436,11.0,70,US,No digits,0
3,AMC Rebel SST,16,8,304.0,150,3433,12.0,70,US,No digits,0
4,ford Torino,17,8,302.0,140,3449,10.5,70,US,No digits,1

In [135]:
# 5) Create a new column (let’s say isNumber). Assign the only digits (ex: 320 for 3rd row)
# into the column “isNumber”.

import re as re

def find_number(text):
    num = re.findall(r'[0-9]+',text)
    if num:
        return " ".join(num)
    else:
        return "No digits"

dataset['isNumber']=dataset['Car'].apply(lambda x: find_number(x))

dataset.to_csv ("dataset_update.csv",  
                  index = None, 
                  header=True)

dataset.head()

,Car,MPG,Cylinder,Displacement,Horsepower,Weight,Acceleration,Model,Origin,isNumber,isFord
0,Chevrolet Chevelle Malibu,18,8,307.0,130,3504,12.0,70,US,No digits,0
1,Buick Skylark 320,15,8,350.0,165,3693,11.5,70,US,320,0
2,Plymouth Satellite,18,8,318.0,150,3436,11.0,70,US,No digits,0
3,AMC Rebel SST,16,8,304.0,150,3433,12.0,70,US,No digits,0
4,ford Torino,17,8,302.0,140,3449,10.5,70,US,No digits,1

In [78]:
# 6) Calculate the sum and mean of “Weight”

sum_of_weight = dataset.Weight.sum()
mean_of_weight = dataset.Weight.mean()

print("sum of weight: " , sum_of_weight)
print("\nmean of weight: ", mean_of_weight)

sum of weight:  445927

mean of weight:  3278.875

In [96]:
# 7) Count the total no of “Audi” cars using column “Car”.

number_of_audi = dataset[dataset.Car.str.contains("Audi")]

print("the total no of “Audi” cars using column “Car” \n\n", len(number_of_audi))
print((number_of_audi))

the total no of “Audi” cars using column “Car”

 2
             Car  MPG  Cylinder  Displacement  Horsepower  Weight  \
27   Audi 100 LS   24         4         107.0          90    2430
126   Audi 100LS   20         4         114.0          91    2582

     Acceleration  Model  Origin
27           14.5     70  Europe
126          14.0     73  Europe

In [98]:
# 8) Calculate mean and total “Displacement” across “Cylinders”.

total_displacement = dataset.groupby(["Cylinder"]).Displacement.sum().reset_index()
mean_displacement = dataset.groupby(["Cylinder"]).Displacement.mean().reset_index()

print("total “Displacement” across “Cylinders”\n\n" , total_displacement)
print("\n\n mean “Displacement” across “Cylinders”\n", mean_displacement)

total “Displacement” across “Cylinders”

    Cylinder  Displacement
0         3         140.0
1         4        5066.5
2         6        5321.0
3         8       22752.0


 mean “Displacement” across “Cylinders”
    Cylinder  Displacement
0         3     70.000000
1         4    107.797872
2         6    221.708333
3         8    361.142857

In [99]:
# 9) Calculate total and mean “Acceleration” by “Model”.

total_acceleration = dataset.groupby(["Model"]).Acceleration.sum().reset_index()
mean_acceleration = dataset.groupby(["Model"]).Acceleration.mean().reset_index()

print("total “Acceleration” by “Model”\n\n" , total_acceleration)
print("\n\n mean “Acceleration” by “Model””\n", mean_acceleration)

total “Acceleration” by “Model”

    Model  Acceleration
0     70         445.0
1     71         444.0
2     72         423.5
3     73         572.5
4     74          66.5


 mean “Acceleration” by “Model””
    Model  Acceleration
0     70     12.714286
1     71     15.310345
2     72     15.125000
3     73     14.312500
4     74     16.625000

In [100]:
# 10) Calculate “Origin”-wise mean and total “Horsepower”.

total_housepower = dataset.groupby(["Origin"]).Horsepower.sum().reset_index()
mean_housepower = dataset.groupby(["Origin"]).Horsepower.mean().reset_index()

print("“Origin”-wise total “Horsepower”\n\n" , total_housepower)
print("\n\n “Origin”-wise mean “Horsepower”\n", mean_housepower)

“Origin”-wise total “Horsepower”

    Origin  Horsepower
0  Europe        1861
1   Japan        1273
2      US       13532
3     USA         100
4   japan          90
5      us          85
6     usa          86


 “Origin”-wise mean “Horsepower”
    Origin  Horsepower
0  Europe   80.913043
1   Japan   90.928571
2      US  142.442105
3     USA  100.000000
4   japan   90.000000
5      us   85.000000
6     usa   86.000000